{% extends "layout.html" %} {% block content %}
<div class="about-text">
  <h1>About Us</h1>
  <h5>Envisol</h5>
  <p>
    Envisol (Environmental Solution) is a cummunal social media platform <br />
    where every concerned citizen of a community can come together <br />
    to share/air their own ideas and ways to make their respective community a
    <br />
    more better and condusive environment for all to live peacefully with <br />
    also finding a way to solve their cummunal challenges/needs with <br />
    minimal government involvement.
  </p>
</div>
{% endblock content %}
